<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="leyenda1" [doughnutChartLabels]="doughnutChartLabels1" [doughnutChartData]="doughnutChartData1" [doughnutChartType]="doughnutChartType1"></app-grafico-dona>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="leyenda2" [doughnutChartLabels]="doughnutChartLabels2" [doughnutChartData]="doughnutChartData2" [doughnutChartType]="doughnutChartType2"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="leyenda3" [doughnutChartLabels]="doughnutChartLabels3" [doughnutChartData]="doughnutChartData3" [doughnutChartType]="doughnutChartType3"></app-grafico-dona>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-dona [leyenda]="leyenda4" [doughnutChartLabels]="doughnutChartLabels4" [doughnutChartData]="doughnutChartData4" [doughnutChartType]="doughnutChartType4"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>